@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  background: white;
}

/* 100 Thin */
@font-face {
  font-family: 'spoqa-sans';
  font-style: normal;
  src: url('/fonts/SpoqaHanSansNeo-Thin.ttf');
  font-weight: 100;
}
/* 300 Light */
@font-face {
  font-family: 'spoqa-sans';
  font-style: normal;
  src: url('/fonts/SpoqaHanSansNeo-Light.ttf');
  font-weight: 300;
}
/* 400 Regular */
@font-face {
  font-family: 'spoqa-sans';
  font-style: normal;
  src: url('/fonts/SpoqaHanSansNeo-Regular.ttf');
  font-weight: 400;
}
/* 500 Medium */
@font-face {
  font-family: 'spoqa-sans';
  font-style: normal;
  src: url('/fonts/SpoqaHanSansNeo-Medium.ttf');
  font-weight: 500;
}
/* 700 Bold */
@font-face {
  font-family: 'spoqa-sans';
  font-style: normal;
  src: url('/fonts/SpoqaHanSansNeo-Bold.ttf');
  font-weight: 700;
}

/* 100 Thin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 100;
}
/* 200 Ulta Light */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins-ExtraLight.ttf');
  font-weight: 200;
}
/* 300 Light */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins-Light.ttf');
  font-weight: 300;
}
/* 400 Regular */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
/* 500 Medium */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins-Medium.ttf');
  font-weight: 500;
}
/* 600 Semi Bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 600;
}
/* 700 Bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
/* 800 Extra Bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 800;
}
/* 900 Heavy */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 900;
}
